body {
    background-image: url(./images/baratheon-cover-image.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-size: larger;
    background-size: cover;
}