body {
    background-image: url(./images/stark-cover.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: antiquewhite;
    font-size: larger;
    background-size: cover;
}