body {
  background-image: url('images/homepage-cover-image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.house-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
}

.houses {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#targaryen {
  background-image: linear-gradient(180deg, black, red);
}

#targaryen a {
  color: rgb(66, 8, 8);
}

#stark {
  background-image: linear-gradient(180deg, rgb(77, 73, 91), lightblue);
}

#stark a {
  color: rgba(224, 215, 215, 0.662);
}

#lannister {
  background-image: linear-gradient(180deg, rgb(134, 9, 10), rgb(0, 0, 0));
}

#lannister a {
  color: brown;
}

#baratheon {
  background-image: linear-gradient(180deg, gold, black);
}

#baratheon a {
  color: rgb(196, 153, 46);
}

#greyjoy {
  background-image: linear-gradient(180deg, black, gold);
}

#greyjoy a {
  color: black;
}

#tyrell {
  background-image: linear-gradient(180deg, rgb(23, 132, 23), rgb(196, 169, 19));
}

#tyrell a {
  color: brown;
}