body {
    background-image: url(./images/tyrell-cover.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(240, 197, 6);
    font-size: larger;
    background-size: cover;
}