* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/greyjoy-cover.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: antiquewhite;
  font-family: 'Fasthand', cursive;
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Lugrasimo', cursive;
  font-family: 'Marcellus SC', serif;
  font-family: 'Tektur', cursive;
}