* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/lannister-cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(240, 197, 6);
    font-size: larger;
    background-size: cover;
    font-family: 'Fasthand', cursive;
    font-family: 'Lugrasimo', cursive;
}